#neighborhood {
    font-size: 20px;
    /*margin: 70px 551px;*/
    /* font-weight: bold; */
    text-align: center;
    margin-top: 50px;
}

#images {
    margin-top: 50px;
    margin-bottom: 50px;
}